<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <%- include('./partials/header') %>

    <main class="main">
        <section class="criteria" id="criteria">
            <div class="container">
                
                <h2 class="criteria__title">
                    Оберіть критерії
                </h2>
        
                <form class="criteria__selection" method="post">

                    <div class="selection-block">
                        <select class="selection-block__select" name="facultySelect" id="facultySelect">
                            <option class="selection-block__option" value="" disabled  selected>Выберите факультет</option>
                        </select>
                    </div>

                    <div class="selection-block">
                        <select class="selection-block__select" name="facultySelect" id="specialitySelect">
                            <option class="selection-block__option" value="" disabled  selected>Выберите специальность</option>
                        </select>
                    </div>

                    <div class="selection-block">
                        <select class="selection-block__select" name="facultySelect" id="courseSelect">
                            <option class="selection-block__option" value="" disabled  selected>Выберите курс</option>
                        </select>
                    </div>

                    <div class="selection-block">
                        <select class="selection-block__select" name="facultySelect" id="groupSelect">
                            <option class="selection-block__option" value="" disabled  selected>Выберите группу</option>
                        </select>
                    </div>

                    <div class="button">
                        <% if (auth) { %>
                            <a id="scheduleLink" href="#">Перейти до розкладу</a>
                        <% } else { %> 
                            <a href="/registration">Перейти до розкладу</a>
                        <% } %>
                    </div>
        
                </form>

                <div class="pb"></div>
                
            </div>
        </section>
    </main>

    <script src="js/main.js"></script>
</body>
</html>